<div class="container">
  <p>
    Les champs listés ci-dessous sont nécéssaires pour nous permettre de vous
    transferer les paiements en votre faveur.
    Pour des raisons de sécurité nous ne stockons pas ces informations.
  </p>

  <%= simple_form_for :stripe, url: stripe_accounts_path do |f| %>
    <%= f.simple_fields_for :address do |a| %>
      <%= a.input :city, label: "Votre ville de résidence" %>
      <%= a.input :street, label: "Votre addresse de résidence" %>
      <%= a.input :post_code, label: "Votre code postal" %>
    <% end %>
    <%= f.input :dob, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12, order: [:day, :month, :year], label: "Votre date de naissance" %>
    <%= f.input :iban, label: "Votre numéro de compte (IBAN)" %>
    <%= f.button :submit, "Connecter mon compte", class: 'button button-blue' %>
  <% end %>
</div>
