<div class="container">
  <h2>Modifier le profil</h2>

  <%= simple_form_for @user, url: users_path, remote: true do |f| %>
    <div class="form-inputs">
      <%= f.input :photo, as: :attachinary %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :phone_number %>
      <%= f.input :description %>
    </div>

    <div class="form-actions">
      <div>
        <%= f.button :submit, "Mettre à jour", class: 'button button-blue'  %>
      </div>
      <% unless @user.stripe_verified? %>
        <div class="light-padded">
          <%= link_to "Connecter mon compte avec Stripe", new_stripe_account_path, class: 'button button-blue' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
