<% content_for :navbar do %>
  <%= render 'shared/navbar_light' %>
<% end %>

<div class="container">
  <h4>Vous avez perdu votre mot de passe ?</h4>
  <h4 style="margin-bottom: 25px">Nous vous envoyons les instructions pour le renouveller</h4>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, label: 'Votre adresse email' %>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, "ENVOYER LES INSTRUCTIONS", class: 'button button-blue' %>
    </div>
  <% end %>
</div>
