<div class="container">
  <div class="reservation-card">
    <%= render 'user_infos', reservation: @reservation %>
    <%= simple_form_for [:host, @reservation] do |f| %>
      <div class="flex-container">
        <div class='service-presentation'>
          <p>
            Ajouter une aide ménagère - <span id="cleaning-price">15</span> € ?
          </p>
          <p class="service-description">
            L’aide ménagère passera dans votre Cookoon après la location selon l’heure qui vous convient.
          </p>
        </div>
        <div class="service-input">
          <%= f.input :cleaning, label: false, input_html: { class: 'reservation-option', data: {price: 15} } %>
        </div>
      </div>
      <div class="flex-container">
        <div class='service-presentation'>
          <p>
            Ajouter un concierge - <span id="janitor-price">15</span> € ?
          </p>
          <p class="service-description">
            Le concierge récupère vos clés, assure le check-in et le check-out puis vous rend vos clés.
          </p>
        </div>
        <div class="service-input">
          <%= f.input :janitor, label: false, input_html: { class: 'reservation-option', data: {price: 15} } %>
        </div>
      </div>
      <hr>
      <div class="text-right">
        <p>Vous recevrez : <span id="display-price"><%= @reservation.payout_price_for_host %></span> €</p>
      </div>
      <% if @reservation.pending_or_paid? %>
        <div class="flex-container">
          <%= f.submit 'Accepter', name: "accept", class: 'button button-white' %>
          <%= f.submit 'Refuser', name: "refuse", class: 'button button-white' %>
        </div>
      <% end %>
      <div class="flex-container light-padded">
        <p><%= @reservation.user.full_name %></p>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/loading_modal' %>

<%= content_for :after_js do %>
  <script>
    $(document).ready(function() {
      $('.button').click(function() {
        $('#loading_modal').modal('show');
      })
    })
  </script>
<% end %>
