<div class="container">
  <%= render 'user_infos', reservation: @reservation %>
  <%= simple_form_for [:host, @reservation] do |f| %>
    <div class="flex-container">
      <div>
        <p>
          Ajouter une aide ménagère - <span id="cleaning-price">15</span> € ?
        </p>
        <p>
          L’aide ménagère passera dans votre Cookoon après la location selon l’heure qui vous convient.
        </p>
      </div>
      <%= f.input :cleaning, label: false, input_html: { class: 'reservation-option', data: {price: 15} } %>
    </div>
    <div class="flex-container">
      <div>
        <p>
          Ajouter un concierge - <span id="janitor-price">15</span> € ?
        </p>
        <p>
          Le concierge récupère vos clés, assure le check-in et le check-out puis vous rend vos clés.
        </p>
      </div>
      <%= f.input :janitor, label: false, input_html: { class: 'reservation-option', data: {price: 15} } %>
    </div>
    <hr>
    <!-- TODO: NEED REFACTO HERE ! -->
    <% full_price = @reservation.duration * @reservation.cookoon.price %>
    <% cookoon_fee = full_price * @reservation.cookoon_fee_rate %>
    <p>Vous recevrez : <span id="display-price"><%= full_price - cookoon_fee %></span> €</p>

    <div class="flex-container">
      <%= f.submit 'Accepter', name: "accept" %>
      <%= f.submit 'Refuser', name: "refuse" %>
    </div>
    <div class="flex-container">
      <%= @reservation.user.full_name %>
      <p>92% de recommendations</p>
    </div>
  <% end %>
</div>
