<div class="side-nav">
  <div class="side-nav-container">
    <div class="text-right" id="side-nav-closer">
      <i class="fa fa-times" aria-hidden="true" style="font-size: 24px;"></i>
    </div>
    <% if current_user %>
      <div class="side-nav-userblock">
        <% if current_user.photo? %>
	        <%= cl_image_tag(current_user.photo.path, { size: '50x50', crop: :thumb, gravity: :face, class: 'avatar-large' }) %>
        <% else %>
          <%= image_tag 'http://via.placeholder.com/50x50', class: 'avatar-large' %>
        <% end %>
        <%= link_to current_user.full_name, edit_user_registration_path %>
      </div>
    <% end %>
    <ul>
      <li><%= link_to 'MES RÉSERVATIONS', reservations_path %></li>
      <li><%= link_to 'ESPACE HOTES', host_reservations_path %></li>
    </ul>
    <p class='pinned-bottom'>Conditions Générales</p>
  </div>
</div>
