<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cookoon : louez un appartement pour quelques heures</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<header>
  <div class="home-wrapper text-center">
    <div class="home-container">
      <div class="home-title title-block">
        <h1>COOKOON</h1>
        <h3>RECEVONS PARTOUT !</h3>
      </div>
      <div class="home-description">
        <p>
            Une communauté exclusive pour organiser vos événements chez les autres
        </p>
      </div>
        <div class="col xl-6 col-md-6 col-sm-6 col-xs-12">
            <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
            <%= image_tag("iphone.png", class: "img-responsive", style: "margin-bottom: -30px", :alt => "iphone") %>
        </div>
    </div>
</div>
</header>

<body>
  <section id="content">
    <div class="container" style="background-color: #fafeef">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="section-heading">
                  <h2>Devenir Hôte</h2>
                  <p class="text-center">Et pourquoi pas ?</p>
              </div>
          </div>
      </div>

      <div class="row" style="margin-bottom: 30px">
          <div class="col-xs-3 text-center">
                <i class="co co-bank fa-5x" aria-hidden="true"></i>
          </div>

          <div class="col-xs-9">
            <h3>Mettez votre appartement au traval</h3>
            <p> Rentabilisez votre espace quand vous ne l’occupez pas, sans en subir les contraintes.</p>
          </div>

      </div>

        <div class="row" style="margin-bottom: 30px">
            <div class="col-xs-3 text-center">
                      <i class="co co-concierge fa-5x" aria-hidden="true"></i>
            </div>

            <div class="col-xs-9">
              <h3>Sans les contraintes habituelles</h3>
              <p>Les locataires ne restent que quelques heures, et nos services complémentaires vous permettent de vous éviter toute gêne.</p>
            </div>

        </div>

        <div class="row" style="margin-bottom: 30px">
            <div class="col-xs-3 text-center">
                      <i class="co co-user fa-5x" aria-hidden="true"></i>
            </div>

            <div class="col-xs-9">
              <h3>Des membres vérifiés</h3>
              <p>Chaque membre est invité par un autre membre; tout le monde est noté après chaque location.<br>
                Vous pouvez y aller rassuré.</p>
            </div>

        </div>

        <div class="row" style="margin-bottom: 30px">
            <div class="col-xs-3 text-center">
                      <i class="co co-check fa-5x" aria-hidden="true"></i>
            </div>

            <div class="col-xs-9">
              <h3>Vous êtes couvert</h3>
              <p>Notre partenaire d’assurance : AXA. Un acteur majeur qui garantit chaque location de tout dommage imprévisible.</p>
            </div>

        </div>

      </div>
  </section>


  <section id="morecontent">
    <div class="container text-center" style="background-color: #fafeef; padding-bottom: 30px">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
         <div class="flipper">
             <div class="front">
                  <!-- front content -->
                  <i class="co co-reversed--camera fa-5x" aria-hidden="true" style="-webkit-text-fill-color:white"></i>
                  <h3>D'autres idées ?</h3>
             </div>
             <div class="back">
                  <!-- back content -->
                  <i class="co co-reversed--camera fa-3x" aria-hidden="true" style="-webkit-text-fill-color:white"></></i>
                  <h4>D'autres idées ?</h4>
                  <p>Faites-nous part de toutes vos expérience avec #cookoonlife</p>
             </div>
        </div>
      </div>
    </div>
  </section>

<section id="warranty">
  <div class="container" style="margin: 20px 0px">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h4>Tous les Cookoons sont assurés par notre partenaire AXA</h4>
      </div>
      <div class="col-sm-6 text-center">
        <%= image_tag("axa_logo_solid_rgb.png", class: "img-responsive", style: "max-width: 25%; margin: 0 auto;") %>
        <br>
        <%= link_to 'En savoir plus >', en_savoir_plus_garanties_cookoon_url, class: 'no-button' %>
      </div>
    </div>
  </div>
</section>

        <section id="community">
            <div class="container" style="background: #006F8B;">
              <div class="row" style="margin: 20px 0px; color: white">
                  <h4>Rejoindre la communauté ?</h4>
                  <b>Vos proches sont membres de la communauté Cookoon ?
                    <br>
                    Demandez leur une invitation !</b>
              </div>
              <div class="text-center" style="margin-bottom: 20px">
                    <%= link_to 'TROUVER UN PARRAIN', en_savoir_plus_url, class: 'btn btn-default button button-white' %>
              </div>
            </div>
        </section>

</body>

<footer>
    <div class="container text-center" style="padding: 20px">
            <p>&copy; Cookoon 2017.
              <br>Tous droits réservés.</p>
                    <%= link_to 'Conditions Générales', '#', class: 'no-button' %>
                    <%= link_to 'Presse', '#', class: 'no-button' %>
    </div>
</footer>

</html>
