<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cookoon : louez un appartement pour quelques heures</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<header>
  <div class="home-wrapper text-center">
    <div class="home-container">
      <div class="home-title title-block">
        <h1>COOKOON</h1>
        <h3>RECEVONS PARTOUT !</h3>
      </div>
      <div class="home-description">
        <p>
            Une communauté exclusive pour organiser vos événements chez les autres
        </p>
      </div>
        <div class="col xl-6 col-md-6 col-sm-6 col-xs-12">
            <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
            <%= image_tag("iphone.png", class: "img-responsive", style: "margin-bottom: -30px", :alt => "iphone") %>
        </div>
    </div>
</div>
</header>


<body>
  <section id="content">
    <div class="container text-center" style="background-color: #fafeef">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	       <div class="flipper">
		         <div class="front">
			            <!-- front content -->
                  <i class="co co-reversed-meeting fa-5x" aria-hidden="true" style="-webkit-text-fill-color:white"></></i>
                  <h3>Une réunion en dehors de vos locaux</h3>
		         </div>
		         <div class="back">
			            <!-- back content -->
                  <i class="co co-reversed-meeting fa-3x" aria-hidden="true" style="-webkit-text-fill-color:white"></></i>
                  <h4>Une réunion en dehors de vos locaux</h4>
                  <p>Un comité d’entreprise, une réunion, une séance de formation, pour deux heures ou pour la journée, louez un Cookoon et… réservez le service traiteur !</p>
		         </div>
	      </div>
      </div>

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
         <div class="flipper">
             <div class="front">
                  <!-- front content -->
                  <i class="co co-reversed-notifications fa-5x" aria-hidden="true" style="-webkit-text-fill-color:white"></></i>
                  <h3>Un repas hors-les-murs</h3>
             </div>
             <div class="back">
                  <!-- back content -->
                  <i class="co co-reversed-notifications fa-3x" aria-hidden="true" style="-webkit-text-fill-color:white"></></i>
                  <h4>Un repars hors-les-murs</h4>
                  <p>Pour déjeuner professionnel ou un dîner entre amis, pour plus de place ou changer d’air, louez un Cookoon et…  réservez un chef à domicile !</p>
             </div>
        </div>
      </div>

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
         <div class="flipper">
             <div class="front">
                  <!-- front content -->
                  <i class="co co-reversed-addcookoon fa-5x" aria-hidden="true" style="-webkit-text-fill-color:white"></></i>
                  <h3>Un moment de calme</h3>
             </div>
             <div class="back">
                  <!-- back content -->
                  <i class="co co-reversed-addcookoon fa-3x" aria-hidden="true" style="-webkit-text-fill-color:white"></></i>
                  <h4>Un moment de calme</h4>
                  <p>Pour vous retrouver avec vous-même, travailler au calme ou réfléchir… louez un Cookoon !</p>
             </div>
        </div>
      </div>

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
         <div class="flipper">
             <div class="front">
                  <!-- front content -->
                  <i class="co co-reversed-cleaning fa-5x" aria-hidden="true" style="-webkit-text-fill-color:white"></></i>
                  <h3>Un événement du quotidien</h3>
             </div>
             <div class="back">
                  <!-- back content -->
                  <i class="co co-reversed-cleaning fa-3x" aria-hidden="true" style="-webkit-text-fill-color:white"></></i>
                  <h4>Un événement du quotidien</h4>
                  <p>Pour héberger un vide-dressing, regarder la finale de Rolland-Garos sur grand écran, regarder le résultat des élections présidentielles, organiser un cours de pâtisserie… louez un Cookoon.</p>
             </div>
        </div>
      </div>

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
         <div class="flipper">
             <div class="front">
                  <!-- front content -->
                  <i class="co co-reversed--camera fa-5x" aria-hidden="true" style="-webkit-text-fill-color:white"></i>
                  <h3>D'autres idées ?</h3>
             </div>
             <div class="back">
                  <!-- back content -->
                  <i class="co co-reversed--camera fa-3x" aria-hidden="true" style="-webkit-text-fill-color:white"></></i>
                  <h4>D'autres idées ?</h4>
                  <p>Faites-nous part de toutes vos expérience avec #cookoonlife</p>
             </div>
        </div>
      </div>
    </div>
  </section>


  <section id="morecontent">
      <div class="container" style="background-color: #fafeef">
        <div class="row" style="margin: 20px 0px">
            <div class="col-xs-3 text-center">
                  <i class="co co-concierge fa-5x" aria-hidden="true"></i>
            </div>

            <div class="col-xs-9">
              <h3>Des services sur-mesure</h3>
              <p class="text-muted"><p class="text-muted">Traiteur à domicile : profitez des offres exclusives de nos traiteurs pour profiter de votre Cookoon.
Selon l’heure de votre réception, nous vous proposons à chaque fois une offre simple et dédiée.</p><br>
              <p class="text-muted">Chef à domicile : envie d’une prestation originale et insolite ? Commander un chef à domicile, selon le budget que vous souhaitez allouer à votre événement.</p><br>
              <p class="text-muted">Une envie insolite ? Contactez nos concierges, ils vous trouveront toujours un service sur-mesure.</p>
            </div>

          </div>
        </div>
  </section>


  <section id="warranty">
      <div class="container" style="margin: 20px 0px">
        <div class="row">
            <div class="col-sm-6 text-center">
              <h4>En partenariat avec AXA</h4>
            </div>
            <div class="col-sm-6 text-center">
              <%= image_tag("axa_logo_solid_rgb.png", class: "img-responsive", style: "max-width: 25%; margin: 0 auto;") %>
              <br>
              <%= link_to 'En savoir plus >', en_savoir_plus_garanties_cookoon_url, class: 'no-button' %>
            </div>
          </div>
      </div>
    </section>

    <section id="community">
        <div class="container" style="background: #006F8B;">
          <div class="row" style="margin: 20px 0px; color: white">
              <h4>Rejoindre la communauté ?</h4>
              <b>Vos proches sont membres de la communauté Cookoon ?
                <br>
                Demandez leur une invitation !</b>
          </div>
          <div class="text-center" style="margin-bottom: 20px">
                <%= link_to 'TROUVER UN PARRAIN', en_savoir_plus_url, class: 'btn btn-default button button-white' %>
          </div>
        </div>
    </section>

    </body>

    <footer>
        <div class="container text-center" style="padding: 20px">
                <p>&copy; Cookoon 2017.
                  <br>Tous droits réservés.</p>
                        <%= link_to 'Conditions Générales', '#', class: 'no-button' %>
                        <%= link_to 'Presse', '#', class: 'no-button' %>
        </div>
    </footer>
</html>
