<div class="search">
  <div class="container">
    <div class="search-header">
      <i class="fa fa-search"></i>
      <div id='infos-address'><%= @search_infos[:position] %></div>
      <div id='infos-time-slot'><%= @search_infos[:time_slot] %></div>
      <div>Pour <span id='infos-number'><%= @search_infos[:people_number] %></span></div>
    </div>
    <div class="search-body">
      <div class="container">
        <%= simple_form_for @new_search, remote: true do |f| %>
          <div class="row">
            <div class="col-xs-12">
              <%= f.input :address, label: false, placeholder: 'Ville, adresse ...', input_html: { value: @last_search.address } %>
            </div>
            <div class="col-xs-12">
              <%= f.input :date, label: false, placeholder: 'Date & heure', input_html: { value: @last_search.date.try(:strftime, '%e %B %k:%M') }, as: :string, readonly: true  %>
            </div>
            <div class="col-xs-12 col-md-6">
              <!-- Nombre d'heures -->
              <div class="increment-block" data-input="#user_search_duration" data-field="#duration">
                <i class="fa fa-minus-circle control" aria-hidden="true" data-action="minus"></i>
                <div id="hours"><span id="duration"><%= @last_search.duration %></span> Heure(s)</div>
                <i class="fa fa-plus-circle control" aria-hidden="true" data-action="plus"></i>
              </div>
              <%= f.input :duration, input_html: {value: @last_search.duration, data: {min: 1, max: 5}}, as: :hidden %>
            </div>
            <div class="col-xs-12 col-md-6">
              <!-- Nombre de participants -->
              <div class="increment-block" data-input="#user_search_number" data-field="#number">
                <i class="fa fa-minus-circle control" aria-hidden="true" data-action="minus"></i>
                <div id="participants"><span id="number"><%= @last_search.number %></span> Personne(s)</div>
                <i class="fa fa-plus-circle control" aria-hidden="true" data-action="plus"></i>
              </div>
              <%= f.input :number, input_html: {value: @last_search.number, data: {min: 1, max: 20}}, as: :hidden %>
            </div>
          </div>
          <div class="text-center">
            <%= f.button :button, 'CHERCHER', type: :submit, class: 'button button-white' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbolinks:load", function() {
    $('#user_search_date').datetimepicker({
      autoclose: true,
      weekStart: 1,
      minuteStep: 30,
      language: 'fr',
      startDate: new Date()
    });
  });
</script>
