<div class="container">
  <h2>Envoyer une invitation (Invitations restantes : <%= current_user.invitation_limit %>)</h2>

  <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post} do |f| %>
    <%= devise_error_messages! %>

    <%= f.input :email, label: "L'E-mail de votre invité" %>
    <%= f.input :first_name, label: "Le prénom de votre invité" %>
    <%= f.input :last_name, label: "Le nom de votre invité" %>

  <%= f.button :submit, "Inviter !", class: 'button button-blue' %>
  <% end %>
</div>
