<div class="search">
  <div class="container">
    <div class="search-header">
      <div>Autour de vous</div>
      <div>Tout de suite</div>
      <div>Pour 4</div>
    </div>
    <div class="search-body">
      <div class="container">
        <%= simple_form_for(:search) do |f| %>
          <div class="row">
            <div class="col-xs-12">
              <%= f.input :address, label: false, placeholder: 'Ou ?' %>
            </div>
            <div class="col-xs-12 col-md-6">
              <%= f.input :datetime, label: false, placeholder: 'Quand ?', input_html: { id: "search-date" }  %>
            </div>
            <div class="col-xs-12 col-md-6">
              <%= f.input :number, label: false, placeholder: 'Pour combien de personnes ?', collection: (1..30) %>
            </div>
            <div class="col-xs-12">
              <div class="increment-block">
                <i class="fa fa-minus-circle control" aria-hidden="true" id="min"></i>
                <div id="hours"><span id="value">1</span> Heure(s)</div>
                <i class="fa fa-plus-circle control" aria-hidden="true" id="max"></i>
              </div>
              <%= f.input :duration, input_html: {data: {min: 1, max: 5}}, as: :hidden %>
            </div>
          </div>
          <div class="text-center">
            <%= f.submit :rechercher, class: 'button button-white' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(function () {
      $('#search-date').datetimepicker({
        showTodayButton: true,
        locale: 'fr'
      });
    });
  </script>
<% end %>
