<div class="container">
  <h2>Payez votre réservation</h2>

  <b>Votre location :</b>
  <p>le <b><%= display_datetime_for(@reservation) %></b> pour <b><%= display_duration_for(@reservation) %></b></p>

  <div class="light-padded">
    <div class="flex-container">
      <p>Prix de la location</p>
      <p><%= humanized_money_with_symbol @reservation.price %></p>
    </div>
    <div class="flex-container">
      <p>Frais de services</p>
      <p><%= humanized_money_with_symbol @reservation.cookoon_fees %></p>
    </div>
    <hr>
    <div class="flex-container">
      <b>TOTAL</b>
      <b><%= humanized_money_with_symbol @reservation.price_for_rent_with_fees %></b>
    </div>
  </div>

  <div class="text-center">
  <button id="customButton" class="button button-blue">PAYER</button>
  </div>

  <%= form_tag reservation_paiements_path(@reservation), id: 'stripe_form' do %>
    <%= hidden_field_tag :stripe_token %>
  <% end %>
</div>

<div class="text-center">
  <p style="font-size:12px; margin-top: 15px">Après cette étape, votre carte bleue sera débitée du montant indiquée. Ce dernier comprend les frais de services de la plateforme Cookoon.</p>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_FSVbYboTFsYGkHZKX3jMm9sQ',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'fr',
    token: function(token) {
      $("#stripe_token").val(token.id);
      $("#stripe_form").submit();
    }
  });

  document.getElementById('customButton').addEventListener('click', function(e) {
    // Open Checkout with further options:
    handler.open({
      name: 'Cookoon.fr',
      description: 'Paiement de votre réservation',
      zipCode: true,
      currency: 'eur',
      amount: <%= @reservation.price_for_rent_with_fees.fractional %>
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation:
  window.addEventListener('popstate', function() {
    handler.close();
  });
</script>
