<% content_for :navbar do %>
  <%= render 'shared/navbar_light' %>
<% end %>

<div class="container">
  <h2>Payez votre réservation</h2>

  <b>Votre location :</b>
  <br><br>
  <p>le <b><%= display_datetime_for(@reservation) %></b> pour <b><%= display_duration_for(@reservation) %></b></p>

  <div class="light-padded">
    <div class="flex-container">
      <p>Prix de la location</p>
      <p><%= humanized_money_with_symbol @reservation.price %></p>
    </div>
    <div class="flex-container">
      <p>Frais de services</p>
      <p><%= humanized_money_with_symbol @reservation.cookoon_fees %></p>
    </div>
    <hr>
    <div class="flex-container">
      <b>TOTAL</b>
      <b><%= humanized_money_with_symbol @reservation.price_for_rent_with_fees %></b>
    </div>
  </div>

  <div class="text-center">
    <button id="customButton" class="button button-blue">PAYER</button>
  </div>

  <div class="text-center">
    <div style="font-size:12px; margin-top: 15px">
      <p>
        Votre carte bleue ne sera débitée que si l'Hôte accepte votre demande de location.
      </p>
      <p>
        Attention : nous procédons tout de même à une demande d'autorisation de paiement sur votre compte.
      </p>
    </div>
  </div>

  <%= form_tag reservation_paiements_path(@reservation), id: 'stripe_form', remote: true do %>
    <%= hidden_field_tag :stripe_token %>
  <% end %>
</div>

<!-- Stripe JS -->
<%= render 'stripe_js' %>
