<div class="container">
  <h2>Récapitulatif votre reservation</h2>

  <p>Votre location :</p>
  <p>le <%= display_datetime_for(@reservation) %> pour <%= display_duration_for(@reservation) %></p>

  <div class="light-padded">
    <div class="flex-container">
      <p>Prix de la location</p>
      <p><%= humanized_money_with_symbol @reservation.price %></p>
    </div>
    <div class="flex-container">
      <p>Frais de services</p>
      <p><%= humanized_money_with_symbol @reservation.cookoon_fees %></p>
    </div>
    <hr>
    <div class="flex-container">
      <p>TOTAL</p>
      <p><%= humanized_money_with_symbol @reservation.price_for_rent_with_fees %></p>
    </div>
  </div>


  <button id="customButton" class="button button-blue">PAYER</button>

  <%= form_tag reservation_paiements_path(@reservation), id: 'stripe_form' do %>
    <%= hidden_field_tag :stripe_token %>
  <% end %>
</div>


<!-- loading modal -->
<%= render 'shared/loading_modal' %>

<!-- Stripe JS -->
<%= render 'stripe_js' %>
