<div class="col-xs-12 col-md-8">
  <div class="row">
    <% @cookoons.each do |cookoon| %>
      <div class="col-xs-12 col-md-6">
        <%= link_to cookoon do %>
          <div class="card" style="background-image: url(<%= cookoon_safe_picture(cookoon) %>)">
            <div class="card-data">
              <div class="card-text">
                <%= cookoon.name %>
              </div>
              <div class="card-infos">
                <%= category_display_for(cookoon) %>
                <%= price_display_for(cookoon) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="col-xs-12 col-md-4 hidden-xs">
  <div id="map" class="map-cookoon-index"></div>
</div>

<script>
  document.addEventListener("turbolinks:load", function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({
      provider: {
        scrollwheel: false
      },
      internal: {
        id: 'map'
      }
    }, function() {
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  });
</script>
