<div class="modal fade" id="recap-modal" tabindex="-1" role="dialog" aria-labelledby="recapModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="recapModalLabel">Votre réservation</h4>
      </div>
      <%= simple_form_for [@cookoon, @reservation], remote: true do |f| %>
      <div class="modal-body">
        <div class="recap">
          <div class="text-left">
            <span class="recap-price">
              <span id="cookoon-price"><%= humanized_money @cookoon.price %></span> <%= currency_symbol %> par heure
            </span>
          </div>
          <div class="recap-datetime">
            <p>Vous arrivez le:</p>
            <%= f.input :date, as: :string, label: false, input_html: { value: l(@reservation.date, format: '%e %B à %k:%M') }, readonly: true %>
          </div>
          <div class="recap-duration">
            <p>Pour une durée de :</p>
            <div class="increment-block" data-input="#reservation_duration" data-field="#duration">
              <i class="fa fa-minus-circle control" aria-hidden="true" data-action="minus"></i>
              <div id="hours"><span id="duration"><%= @reservation.duration %></span> Heure(s)</div>
              <i class="fa fa-plus-circle control" aria-hidden="true" data-action="plus"></i>
            </div>
            <%= f.input :duration, input_html: {value: @reservation.duration, data: {min: 1, max: 5}}, as: :hidden %>
          </div>
        </div>
        <div class="recap-catering">
          <div class="flex-container">
            <div class='service-presentation'>
              <p class="service-description">
                Je souhaite être contacté par le service traiteur
              </p>
            </div>
            <!-- ==== CUSTOM CHECKBOX ==== -->
            <div class="service-input">
              <div class="form-group boolean optional reservation_catering">
                <input value="0" type="hidden" name="reservation[catering]">
                <input class="boolean optional hidden" type="checkbox" value="1" name="reservation[catering]" id="reservation_catering">
                <label class="boolean optional toggle" for="reservation_catering">
                  <span class="toggle-handler"></span>
                </label>
              </div>
            </div>
            <!-- ==== FIN CUSTOM CHECKBOX ==== -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <h4>TOTAL : <span id='total-price'><%= humanized_money @reservation.price_for_rent_with_fees %></span> €</h4>
        <p style="font-size:12px; margin-bottom: 20px">Ce montant comprend les frais de services de la plateforme Cookoon</p>
        <%= f.submit 'RESERVER', class: "button button-white" %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  document.addEventListener("turbolinks:load", function() {
    $("#reservation_date").datetimepicker({
      autoclose: true,
      weekStart: 1,
      minuteStep: 30,
      format: 'd MM à h:ii',
      language: 'fr',
      startDate: new Date()
    });
  });
</script>
