<div class="container">
  <p>Décrivez votre Cookoon</p>

  <%= simple_form_for @cookoon do |f| %>
    <%= f.input :name %>
    <%= f.input :surface, label: 'Surface en m2' %>
    <%= f.input :price, label: 'Prix / heure' %>
    <%= f.input :address, label: 'Adresse' %>
    <%= f.input :capacity, label: "Capacité d'acceuil" %>
    <%= f.input :category, collection: Cookoon::CATEGORIES %>
    <%= f.input :photos, as: :attachinary %>
    <%= f.submit "CRÉER UN COOKOON", class: 'button button-blue' %>
  <% end %>
</div>
