<% content_for :navbar do %>
  <%= render 'shared/navbar_light' %>
<% end %>

<%= carousel_for(@cookoon.photos) %>

<div class="container">
  <div class="block-presentation">
    <h3><%= @cookoon.name %></h3>
    <p>Appartement à <span class="text-gray"><%= @cookoon.address %></span></p>
    <i>par <span class="text-gray"><%= @cookoon.user.first_name %></span></i>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam illum hic
      eos commodi, impedit, quaerat culpa recusandae eius. Neque temporibus dicta
      debitis, quaerat quidem nihil, amet fugiat quisquam facere beatae!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam illum hic
      eos commodi, impedit, quaerat culpa recusandae eius.
    </p>
  </div>

    <i class="text-gray">Ce Cookoon de <b><%= @cookoon.surface %> m2</b> est idéal pour <b><%= @cookoon.capacity %></b> personnes</i>
</div>

<!-- Modal -->
<%= render 'reservation_modal' %>

<!-- Map -->
<div id="map" class="map-cookoon-show"></div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {
          scrollwheel: false
        },
        internal: {
          id: 'map'
        }
      }, function() {
        markers = handler.addMarkers([
          {
            "lat": <%= @cookoon.latitude %>,
            "lng": <%= @cookoon.longitude %>,
            "infowindow": "<h3><%= @cookoon.name %></h3>"
          }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14);
      });
    });
  </script>
<% end %>

<!-- Booking -->
  <div class="fixed-bottom bottom-block">
    <button type="button" class="button button-fixed" data-toggle="modal" data-target="#recap-modal">
      RESERVER
    </button>
  </div>
