<% content_for :navbar do %>
  <%= render 'shared/navbar_transparent' %>
<% end %>

<%= carousel_for(@cookoon.photos) %>

<div class="container">
  <div class="block-presentation">
    <h3><%= @cookoon.name %></h3>
    <p>Appartement à <span class="text-gray"><%= @cookoon.address %></span></p>
    <i>par <span class="text-gray"><%= @cookoon.user.first_name %></span></i>
  </div>
  <div>
    <p>
      <%= @cookoon.description %>
    </p>
  </div>

    <i class="text-gray">Ce Cookoon de <b><%= @cookoon.surface %> m2</b> est idéal pour <b><%= @cookoon.capacity %></b> personnes</i>
</div>

<!-- Modal -->
<%= render 'reservation_modal' %>

<!-- Map -->
<div id="map" class="map-cookoon-show"></div>

<!-- Booking -->
<div class="fixed-bottom bottom-block">
  <button type="button" class="button button-fixed" data-toggle="modal" data-target="#recap-modal">
    RESERVER
  </button>
</div>

<script>
  document.addEventListener("turbolinks:load", function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({
      provider: {
        scrollwheel: false
      },
      internal: {
        id: 'map'
      }
    }, function() {
      markers = handler.addMarkers([
        {
          "lat": <%= @cookoon.latitude %>,
          "lng": <%= @cookoon.longitude %>,
          "infowindow": "<h3><%= @cookoon.name %></h3>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });
  });
</script>

<script>
  document.addEventListener("turbolinks:load", function() {
    $('.carousel').hammer().bind("swipeleft", function() {
      $(this).carousel('next');
    });

    $('.carousel').hammer().bind("swiperight", function() {
      $(this).carousel('prev');
    });
  });
</script>
